{% extends "PaulMaxwellHomeworkBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="page-header">Information about the author</div>
        <address>
            <strong>Maxim Polishchuck</strong>
            <br>
            Contact email: mpolishchuck@gmail.com
        </address>
        {{ include('PaulMaxwellHomeworkBundle:Default:_return_to_main.html.twig') }}
    </div>
{% endblock %}
