{% extends "PaulMaxwellHomeworkBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="jumbotron">
            <h1>GeekHub homework #5</h1>
            <p>This is GeekHub homework #5.</p>
        </div>
        <div class="author-info">
            {{ render(controller('PaulMaxwellHomeworkBundle:Default:partialAuthorInfo')) }}
        </div>
    </div>
{% endblock body %}
